@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.gradient-text-action {
    background: linear-gradient(270deg, #FF0000, #FF4500, #FFA500, #FF4500, #FF0000);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-horror {
    background: linear-gradient(270deg, #8B0000, #B22222, #9400D3, #720f0f, #360707);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-romance {
    background: linear-gradient(270deg, #FF69B4, #FFB6C1, #FFD700, #FFB6C1, #FF69B4);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-fantasy {
    background: linear-gradient(270deg, #8338e3, #9a54d9, #b271cf, #c98dc5, #008000);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-sci-fi {
    background: linear-gradient(270deg, #00ff9f, #00b8ff, #001eff, #bd00ff, #d600ff, #00ff9f);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-western {
    background: linear-gradient(270deg, #8B4513, #DAA520, #664d51, #DAA520, #8B4513);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}

.gradient-text-sports {
    background: linear-gradient(270deg, #6a2922, #ea3a3a, #eeeded, #9c380d, #e1811f);
    background-size: 500% 500%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient-animation 10s linear infinite;
}